 body {
        font: 13px arial, helvetica, sans-serif;
    }
	
div.code {background: #ffffee;} 
span.keyword {color: #0000ff;} 
span.string {color: #A31515;} 
td.this {
        font: 13px arial, helvetica, sans-serif;
    }

    #header ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #header li {
        float: left;
        border: 1px solid #307C99;
        border-bottom-width: 0;
        margin: 0 1 0 0;
    }

    li.Selected {
        position: relative;
        top: 1px;
        background-color: #dbedff;
    }

    li.NotSelected {
        position: relative;
        top: 1px;
        background-color: #99ccff;
    }

    #content {
        border: 1px solid #307C99;
        clear: both;
		background-color: #dbedff;
    }
    #GroupPermissionsTable {
        border: 1px solid #307C99;
        clear: both;
		background-color: #dbedff;
		float: left;
		padding:5px;
    }

TABLE,TR,TD,BODY,SELECT,INPUT,BUTTON,TEXTAREA{font:12px Tahoma;color:#000}
INPUT.InputBox{margin:1px; width: 300px;}
input[type=text],input[type=password]
{
	width: 300px;
}
INPUT.login{margin:1px; width: 100px;}

td.GroupsTable{
	border-left: solid 1px #064C99;
	border-bottom: solid 1px #064C99;
	vertical-align: top;
}

th.GroupsTable{
	border-left: solid 1px #064C99;
	border-bottom: solid 1px #064C99;
	vertical-align: top;
	background-color: #428AFF;
	color: #ffffff;
}

td.LeftPanel{
	width: 200px;
	vertical-align: top;
}

td.RightPanel{
	vertical-align: top;
	vertical-align: top;
}

a{
	text-decoration: none;
	color: #0011ff;
}

span.link{
	cursor: pointer;
	color: #0011ff;
}

img.icon{
	width: 32px;
	height: 32px;
}

img.icon24{
	width: 24px;
	height: 24px;
}

.expiredban{
    color: #ccc;
}